/* basic setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* reusable components */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* headings */

h1,
h2,
h3 {


    font-weight: 300;
    text-transform: uppercase;



}


h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {

    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67322;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}




/* icons */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67322;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67322;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}



/* paragraphs */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;

}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*links*/

a:link,
a:visited {
    color: #e67322;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67322;
    transition: border-bottom 0.2s, color 0.2s;
}


a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* buttons */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67322;
    border: solid 1px #e67322;
    color: #fff;
    margin-right: 15px;
}



.btn-ghost:link,
.btn-ghost:visited {
    border: solid 1px #e67322;
    color: #e67322;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #cf6d17;
    color: #fff;
}


/* header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* logo */

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}



.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}



.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67322;
}


/*mobile nav*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
}

.menuNav {
    font-size: 200%;
    color: #fff;
}

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}





/* features */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* meals-showcase */
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;

}


.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;

}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;

}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);

}

/* how it works */

.section-steps {
    background-color: #f4f4f4;
}


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;

}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67322;
    border: 2px solid #e67322;
    display: inline-block;
    border-radius: 50%;
    height: 56px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;

}

/* cities */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* testonimials */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/resources/img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 45px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}


blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;

}


cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* signup */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}


.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.plan-box div:last-child {
    text-align: center;
    border: 0;

}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67322;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}


.plan-box ul li {
    padding: 5px 0;
}


/* contact form */


.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;

}

textarea {
    height: 100px;

}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}


/* footer */

footer {
    background-color: #333;
}

.footer-nav {
    list-style: none;
    float: left;
    font-size: 80%;
}

.social-links {
    list-style: none;
    float: right;
}


.social-links li,
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;

}


.social-links li:last-child,
.footer-nav li:last-child {
    margin-right: 0;

}

.social-links li a:visited,
.footer-nav li a:visited,
.social-links li a:link,
.footer-nav li a:link {

    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;

}

.social-links li a:visited,
.social-links li a:link {
    font-size: 160%;

}

.social-links li a:hover,
.footer-nav li a:hover,
.social-links li a:active,
.footer-nav li a:active {
    color: #ddd;

}

.f,
.t,
.i,
.g {
    transition: color 0.2s;
}

.f:hover {
    color: #3b5998;
}

.g:hover {
    color: #dd4b39;
}

.t:hover {
    color: #00aced;
}

.i:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}




/*Animations*/
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-4{
 animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
opacity: 1;
}







/* big tablets; from 1024 to 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;

    }

    .row {
        padding: 0 2%;

    }
}

/* iPads; from 768 to 1023px */
@media only screen and (max-width: 1023px) {

    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .step-box {
        margin-top: 10px;
    }

    .steps-box:last-child {
        margin-top: 10px;
    }

    .works-step {
        margin-bottom: 40px;
    }

    .works-step:last-of-type {
        margin-bottom: 80px;
    }

    .app-screen {
        width: 50px;
    }

    .icon-small {
        width: 20px;
    }

    .city-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }
}



/* Medium phones small tablets; from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;

    }

    section {
        padding: 30px 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0% 0 4% 0;
    }

    .main-nav {
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0; 
        font-size: 100%;
    }


.sticky .main-nav {
    margin-top: 10px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 10px 0;

}
    .mobile-nav-icon {
        margin-top: 10px;
    }

.sticky .menuNav {
      color: #555;
    }




    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .app-screen {
        width: 40%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .works-step {
        margin-bottom: 20px;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;
    }

}


/* Small phones; from 0 to 480px */
@media only screen and (max-width: 480px) {


    section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%
    }
}



